#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  padding: 1.25rem;
}
.app__button{
  cursor: pointer;
  width: 7.5rem;
  height: 2.625rem;
  border-radius: 0.25rem;
  background: $col-app-button;
  color: $col-app-button-text;
  border: none;
  margin: 0.625rem;
}
.app__button-small{
  cursor:pointer;
  background: $col-app-button-small;
  width: 1.875rem; 
  height: 1.875rem;
  color: $col-app-button-small-text;
  margin: 0.625rem;
  border: none;
  border-radius: 0.25rem;
}
.app__button-icon{
  width: 2.625rem;
  height: 2.625rem;
  background-color: $col-app-button-icon;
  cursor: pointer;
  border: none;
  padding: 0.25rem;
  margin: 0.625rem;
}