$_dark-blue:blue;
$_blue:#35a2c7;
$_white:#fff;
$_transparent:transparent;
$_grey:grey;
$_dark-grey:#383838;
$_red:red;
$_bright-red:#f44336;
$_yellow:rgb(255, 166, 0);
$_gold:gold;
$_dark-green:rgb(0, 56, 0);
$_green:green;
$_bright-green:rgb(40, 126, 0);
$_bright-pink:#ffcdd2;



//APP__button
$col-app-button:$_blue;
$col-app-button-text:$_white;
$col-app-button-small:$_blue;
$col-app-button-small-text:$_white;
$col-app-button-icon:$_transparent;
//LikedPage
$col-liked-page-empty-link:$_blue;
$col-liked-page-empty-message:$_red;

//NavBar---------------------------
$col-nav-bar-cart-button:$_white;
$col-nav-bar-cart-button-active:$_white;
$col-nav-bar-cart-button-border:$_white;
$col-nav-bar-cart-button-border-active:$_blue;
$col-nav-bar-cart-button-text:$_grey;
$col-nav-bar-cart-button-text-active:$_blue;
//router-link
$col-router-link-text:$_grey;
$col-router-link-border:$_white;
$col-router-link-text-active:$_blue;
$col-router-link-border-active:$_blue;

//LikeIcon------------------
$col-like-icon:$_bright-pink;
$col-like-icon-liked:$_bright-red;

//CartItem-------------------
$col-cart-item-border:$_blue;
$col-cart-item-background:$_white;
$col-cart-item-message:$_green;
$col-cart-item-empty-text:$_red;
$col-cart-item-error-text:$_red;
$col-cart-item-product-border:$_grey;
$col-cart-item-checkout-button:$_blue;
$col-cart-item-checkout-text:$_white;

//CurrencyExchange-----------------
$col-currency-exchange-title-border:$_blue;
//ExchangerForm
$col-exchanger-form-label:$_bright-green;
$col-exchanger-form-input-outline:$_blue;
$col-exchanger-form-switch-button:$_blue;
$col-exchanger-form-switch-button-text:$_white;
$col-exchanger-form-button-active:$_bright-green;
$col-exchanger-form-button-disabled:$_dark-grey;
$col-exchanger-form-button-text-active:$_white;
$col-exchanger-form-button-text-disabled:$_white;
$col-exchanger-form-rate-border:$_blue;
$col-exchanger-form-error-text:$_red;
$col-exchanger-form-warning-text:$_yellow;

//Modal--------------------------
$col-modal-exchange-background:$_white;
$col-modal-exchange-currency-spent:$_dark-green;
$col-modal-exchange-currency-got:$_dark-blue;
$col-modal-exchange-button:$_blue;
$col-modal-exchange-button-text:$_white;
$col-modal-exchange-message:$_green;

//ProductCard-------------------
$col-product-card-shadow:$_dark-grey;

// WalletItem
$col-wallet-item-border:$_gold;